.navbar.navbar-expand-lg.bg-body-tertiary {
    border-bottom: 1px solid grey; 
}


#lang-switch {
    border-right: 1px solid black;
}

.about-us {
    min-height: 100vh; 
}

/* CAROUSEL */
.carousel-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    /* Firefox: Completely hides the scrollbar */
    scrollbar-width: none; 
    
    /* IE and Edge (Legacy): Completely hides the scrollbar */
    -ms-overflow-style: none; 
}

/* Chrome, Safari, Edge, and Opera: Hides the scrollbar */
.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-item-custom {
    flex: 0 0 auto;
    width: 20%;
    height: auto;
    margin: 20px;
    border-radius: 20px; 
    overflow-x: hidden;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.carousel-item-custom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    height: 93vh;
}


.menu, .contact {
    height: 80vh;
}




.footer{
    background-color: black;
    color: white;
    height: 20vh;
    padding: 20px 0;
    text-align: center;
}